
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



h1 {
    text-align: center; 
    background-color: rgb(196, 75, 75);
  font-size: 40px;
}

#personal   {
    display: inline;
}

body {
    background-image: url(fotos/fondo\ oficina.jpg);
}